/* Genel Ayarlar */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    color: #f5f5f5;
}

/* Header */
.main-header {
    background-color: #141414;
    padding: 60px 0;
    text-align: center;
}

.main-header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0a84ff;
    font-size: 1.2rem;
}

/* Buton Stili */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0a84ff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #005fcc;
}

/* İçerik Bölümü */
.content-section {
    padding: 50px 0;
}

.cve-list, .blog-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.cve-item, .blog-item {
    background-color: #292929;
    padding: 15px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Footer */
.custom-footer {
    background-color: #141414;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.custom-footer nav {
    margin-top: 10px;
}
